.HamburgerContainer {
    float: right;
    margin-top: -50px;
    margin-right: 130px;
}

.HamburgerButton {
    background-color: inherit;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 40px;
    outline: none;
    padding: 0px;
    width: 50px;
}

.dropdownContainer {
    background-color: #f1f1f1;
    border: none;
    display: block;
    float: left;
    margin: 0px 10px;
    position: absolute;
    width: fit-content;
}

.dropdownItem {
    border: none;
    font-size: 13px;
    margin-bottom: 8px;
    padding: 0px 8px;
    text-align: left;
}